<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>EasyRoom</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->

        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="{{ asset('bundles/easyroomapp/dist/css/materialize.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/easyroomapp/dist/css/materialize.clockpicker.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ asset('bundles/easyroomapp/dist/css/style.css') }}"  media="screen,projection"/>
        {% block stylesheets %}{% endblock %}
      </head>
    <body>
        <header>
            {% block navbar %}{% endblock %}
        </header>
        <main>
          {% block main %}{% endblock %}
        </main>

        <footer>
            <p class="right-align">
                © Copyright ECN Team 2017
            </p>
        </footer>
        <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <!-- Compiled and minified JavaScript -->
        <script src="{{ asset('bundles/easyroomapp/dist/js/materialize.min.js') }}"></script>
        {% block javascript %}{% endblock %}
    </body>
</html>