{% extends "EasyRoomAppBundle::template_parent.html.twig" %}

{# Contenu du block stylesheets #}
{% block stylesheets %}
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/easyroomapp/dist/css/search_salle.css') }}"/>
{% endblock %}

{# Contenu du block navbar #}
{% block main %}
    <section class="row recherche valign-wrapper">
        <div class="container">
            {% include 'EasyRoomAppBundle:Salle:form_recherche.html.twig' %}
        </div>
    </section>

    <section class="section row resultats-recherche">
        <div class="container">
            <h3 class="col s12 header center-align">Résultats de votre recherche</h3>
            {% if salles is not null %}
                {% for salle in salles %}
                    {% include 'EasyRoomAppBundle:Salle:carte_resultat.html.twig' %}
                {% endfor %}
            {% endif %}
        </div>
    </section>
{% endblock %}

{# Contenu du block navbar #}
{% block javascript %}
    <script src="{{ asset('bundles/easyroomapp/dist/js/materialize.clockpicker.js') }}"></script>
    <script src="{{ asset('bundles/easyroomapp/dist/js/recherche_salle.js') }}"></script>
{% endblock %}
