{% extends "EasyRoomAppBundle::template_parent.html.twig" %}

{# Contenu du block stylesheets #}
{% block stylesheets %}
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/easyroomapp/dist/css/accueil.css') }}"/>
{% endblock %}
{# Contenu du block navbar #}
{% block main %}
    <section class="row recherche valign-wrapper">
        <div class="container">
            {% include 'EasyRoomAppBundle:Salle:form_recherche.html.twig' %}
        </div>
    </section>

    <section class="section row mes-reservations">
        <div class="container">
            <h5 class="col s12 header">Mes réservations</h5>
            {% for reservation in reservationsMaitres%}
                {% include 'EasyRoomAppBundle:Reservation:carte_ma_reservation.html.twig' %}
            {% endfor %}
        </div>
    </section>

    <section class="section row join-meeting">
        <div class="container">
            <h5 class="col s12 header">Vous avez été invité à rejoindre les salles suivantes :</h5>
            {% for reservationInvite in reservationInvites %}
            {% include 'EasyRoomAppBundle:Reservation:carte_invitation.html.twig' %}
            {% endfor %}
        </div>
    </section>
{% endblock %}

{# Contenu du block navbar #}
{% block javascript %}
    <script src="{{ asset('bundles/easyroomapp/dist/js/materialize.clockpicker.js') }}"></script>
    <script src="{{ asset('bundles/easyroomapp/dist/js/accueil.js') }}"></script>
{% endblock %}
