$blue-easyroom : rgb(0, 160, 224);
$white: #fff;
$soft-black:#4e4e4e;

html {
  color: $soft-black;
}

/** TOP BAR **/
nav {
  line-height: normal;
  #logo-container {
    padding-top: 5px;
  }
  ul {
    li {
      line-height: 58px;
      &.active {
        background: none;
        border-bottom: 3px solid $blue-easyroom;

      }
      a {
        color: $blue-easyroom
      }
    }
    a:hover {
      background: none;
    }
  }
  .dropdown-content {min-width:150px; top:45px!important}
  .select-wrapper input.select-dropdown {border-bottom:1px solid $white}
}