@import "_variables.scss";

html {
  height: 100%;
}
body {
  min-height: 100%;
}

body {
  background:no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div#logo {
  text-align:center;
  img {
    width: 250px;
  }
}
main {margin: 0 auto;position:relative; top:-50px;}