<form class="col s12" style="padding: 0.1rem 2.75rem">
  <div class="row">
    <h3>Réservez une salle</h3>
    <div class="input-field col m2">
      <input id="nom_salle" type="text" class="validate">
      <label for="nom_salle">Nom salle</label>
    </div>
    <div class="input-field col m2">
      <input id="effectif" type="number" class="validate">
      <label for="effectif">Effectif</label>
    </div>
    <div class="input-field col m3">
      <input id="debut" type="date" class="datepicker">
      <label for="debut">Début</label>
    </div>
    <div class="input-field col m3">
      <input id="fin" type="date" class="datepicker">
      <label for="fin">Fin</label>
    </div>
    <div class="input-field col m2">
      <select>
        <option value="1">Heures</option>
        <option value="2">Jours</option>
      </select>
      <label>Durée</label>
    </div>
    <div class="submit col s12 center-align">
      <button class="btn waves-effect waves-light" type="submit" name="action">Rechercher</button>
    </div>
  </div>
</form>